# Synthetic dataset creation

In [129]:
import pandas as pd

In [130]:
roles_dataset = pd.read_csv("../datasets/roles_dataset.csv")

In [131]:
roles_dataset.head()

                  Role                                        Description
0    Backend Developer  Designs and implements server-side logic, data...
1   Frontend Developer  Builds and maintains the user interfaces and u...
2  Fullstack Developer  Works on both frontend and backend development...
3     Mobile Developer  Develops applications for mobile platforms suc...
4          ML Engineer  Designs, builds, and deploys machine learning ...

In [132]:
teams_dataset = pd.read_csv("../datasets/teams_dataset.csv")

In [133]:
teams_dataset.head()

       Project name                         Description of the project
0          TeamSync  TeamSync aims to improve the quality and balan...
1      RandomCoffee  Random Coffee is a web-based service integrate...
2           EvOps üê≥  A self-hosted platform to share and discover l...
3        UrTraining  A web-based platform for creating, distributin...
4  Online game 7Red  An online version of the Russian game "7Red" w...

In [134]:
tools_dataset = pd.read_csv("../datasets/tools_dataset.csv")

In [135]:
tools_dataset.head(20)

                 Role        Tool                       Description
0   ML / Data Science      Python  Data science, ML, web, scripting
1             Backend      Python  Data science, ML, web, scripting
2            Frontend  JavaScript    Web, frontend/backend, Node.js
3             Backend  JavaScript    Web, frontend/backend, Node.js
4             Backend        Java      Enterprise, Android, backend
5              Mobile        Java      Enterprise, Android, backend
6             Backend          C#     .NET stack, games, enterprise
7             GameDev          C#     .NET stack, games, enterprise
8             Backend         C++           System, games, embedded
9             GameDev         C++           System, games, embedded
10            Backend  TypeScript          Typed JS, large web apps
11           Frontend  TypeScript          Typed JS, large web apps
12            Backend          Go  Cloud, backend, scalable systems
13            Backend        Ruby            Web (Rails), scripting
14            Backend         PHP        Web, CMS (WordPress, etc.)
15           Frontend       Swift                    iOS/macOS apps
16             Mobile       Swift                    iOS/macOS apps
17             Mobile      Kotlin                 Android, JVM apps
18            Backend      Kotlin                 Android, JVM apps
19             System        Rust  System, secure & performant apps

In [136]:
def check_tool_in_dataset(x):
    basic_backend_languages = ["Python", "Java", "C#", "Go"]

In [137]:
basic_backend_languages = ["Python", "Java", "C#", "Go"]

In [138]:
# import re
# def delete_brackets(x):
#     if isinstance(x, str):
#         return re.sub(r'\s\(.*?\)', '', x)
#     return x

In [139]:
backend_tools = {}
for language in basic_backend_languages:
    backend_tools[language] = tools_dataset[tools_dataset["Tool"].apply(lambda x: language in x) & (tools_dataset["Role"] == "Backend") & (tools_dataset["Tool"] != language)]["Tool"].tolist()
    # backend_tools[language] = [delete_brackets(tool) for tool in backend_tools[language]]
print(backend_tools)

{'Python': ['Django (Python)', 'Flask (Python)', 'FastAPI (Python)', 'Scrapy (Python)', 'Bottle (Python)', 'Tornado (Python)'], 'Java': ['JavaScript', 'Express.js (JavaScript)', 'Spring Boot (Java)', 'Hibernate (Java)', 'Jakarta EE (Java)', 'Micronaut (Java)', 'Vert.x (Java)', 'Sequelize (JavaScript)', 'Hapi (JavaScript)'], 'C#': ['ASP.NET Core (C#)', 'Entity Framework (C#)'], 'Go': ['Gin (Go)', 'Echo (Go)', 'Beego (Go)', 'Revel (Go)', 'GORM (Go)']}

In [140]:
basic_ml_tools = ["Python", "NumPy (Python)", "pandas (Python)", "Matplotlib (Python)"]
ML_tools = tools_dataset[(tools_dataset["Role"] == "ML / Data Science") & (~tools_dataset["Tool"].isin(basic_ml_tools))]["Tool"].tolist()
print(ML_tools)

['Scala', 'MATLAB', 'R', 'Julia', 'Fortran', 'TensorFlow (Python)', 'PyTorch (Python)', 'scikit-learn (Python)', 'OpenCV (C++)', 'BeautifulSoup (Python)', 'Requests (Python)']

In [141]:
basic_frontend_tools = ["JavaScript", "HTML", "CSS"]
Frontend_tools = tools_dataset[(tools_dataset["Role"] == "Frontend") & (~tools_dataset["Tool"].isin(basic_frontend_tools))]["Tool"].tolist()
print(Frontend_tools)

['TypeScript', 'Swift', 'Dart', 'Elm', 'React (JavaScript)', 'Vue.js (JavaScript)', 'Angular (TypeScript)', 'Next.js (JavaScript)', 'jQuery (JavaScript)', 'D3.js (JavaScript)', 'Three.js (JavaScript)', 'Blazor (C#)', 'RxJS (TypeScript)', 'SwiftUI (Swift)', 'Combine (Swift)', 'Flutter (Dart)', 'Svelte (JavaScript)', 'Chart.js (JavaScript)']

In [142]:
counter = 0

In [143]:
import random

In [144]:
roles = ["Backend", "Frontend", "ML / Data Science"]

In [145]:
def generate_skills(role):
    result = []
    if role == "Backend":
        language = random.choice(basic_backend_languages)
        result.append(language)
        result.extend(random.sample(backend_tools[language], random.randint(1, min(5, len(backend_tools[language])))))
    elif role == "Frontend":
        result = basic_frontend_tools
        result.extend(random.sample(Frontend_tools, random.randint(1, min(5, len(Frontend_tools)))))
    elif role == "ML / Data Science":
        result = basic_ml_tools
        result.extend(random.sample(ML_tools, random.randint(1, min(5, len(ML_tools)))))

    for i in range(0, random.randint(0, 5)):
        skill = random.choice(tools_dataset["Tool"].tolist())
        if skill not in result:
            result.append(skill)
    return result

In [146]:
counter = 0
for i in range(0, 3):
    teams_dataset[f"Member_{i}"] = ""
    for idx in teams_dataset.index:
        teams_dataset.at[idx, f"Member_{i}"] = f"Member_{i}_{counter}"
        counter += 1
    teams_dataset[f"Member_{i}_role"] = ""
    for idx in teams_dataset.index:
        teams_dataset.at[idx, f"Member_{i}_role"] = random.choice(roles)
    teams_dataset[f"Member_{i}_skills"] = ""
    for idx in teams_dataset.index:
        role = teams_dataset.at[idx, f"Member_{i}_role"]
        skills = generate_skills(role)
        teams_dataset.at[idx, f"Member_{i}_skills"] = skills

In [147]:
teams_dataset.head()

,Project name,Description of the project,Member_0,Member_0_role,Member_0_skills,Member_1,Member_1_role,Member_1_skills,Member_2,Member_2_role,Member_2_skills
0,TeamSync,TeamSync aims to improve the quality and balan...,Member_0_0,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),...",Member_1_49,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),...",Member_2_98,ML / Data Science,"[Python, NumPy (Python), pandas (Python), Matp..."
1,RandomCoffee,Random Coffee is a web-based service integrate...,Member_0_1,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),...",Member_1_50,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),...",Member_2_99,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),..."
2,EvOps üê≥,A self-hosted platform to share and discover l...,Member_0_2,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),...",Member_1_51,Backend,"[Python, Flask (Python)]",Member_2_100,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),..."
3,UrTraining,"A web-based platform for creating, distributin...",Member_0_3,ML / Data Science,"[Python, NumPy (Python), pandas (Python), Matp...",Member_1_52,Backend,"[Go, GORM (Go), Sequelize (JavaScript)]",Member_2_101,Frontend,"[JavaScript, HTML, CSS, Chart.js (JavaScript),..."
4,Online game 7Red,"An online version of the Russian game ""7Red"" w...",Member_0_4,ML / Data Science,"[Python, NumPy (Python), pandas (Python), Matp...",Member_1_53,Backend,"[Java, Jakarta EE (Java), Lua, SwiftUI (Swift)...",Member_2_102,Backend,"[Java, Micronaut (Java), JavaScript]"

In [148]:
path_to_save = "../datasets/teams_dataset_with_skills.csv"
teams_dataset.to_csv(path_to_save, index=False)